# AWS Provider Key
aws_access_key = "AANDNBSDXS&SCBCSO"
aws_secret_key = "Pzcd3dvt59fwbuwbPaa56b8ubfdrfcxcxasaxxsaxa"
aws_region     = "ap-south-1"


#Project
project_name = "Project"
env_suffix   = "default"


#VPC
vpc_cidr_block         = "20.0.0.0/16"
private_cidr_block     = ["20.0.0.0/20", "20.0.16.0/20", "20.0.32.0/20"]
public_cidr_block      = ["20.0.48.0/20", "20.0.64.0/20", "20.0.80.0/20"]
vpc_availability_zones = ["ap-south-1a", "ap-south-1b", "ap-south-1c"]
vpc_instance_tenancy   = "default"
enable_dns_hostnames   = "true"


# #EC2
instance_type   = "t2.micro"
ebs_volume_type = "gp2"
ebs_volume_size = "30"
key_pair_name   = "pemkey"


# # IAM User
s3_iam_user_name = "storage-user"
# #  pgp_key = "keybase:demo"


# #S3 Private Bucket
private_bucket_name         = "private-bucket-terraform-1"
private_bucket_versioning   = "true"
private_bucket_acceleration = "Suspended"


# #S3 Public Bucket
public_bucket_name         = "public-bucket-terraform-1"
public_bucket_versioning   = "true"
public_bucket_acceleration = "Suspended"


# # #Database (RDS)
database_cluster_identifier          = "database-cluster"
database_cluster_engine_version      = "5.7.mysql_aurora.2.10.2"
database_instance_identifier         = "database-instance"
database_cluster_skip_final_snapshot = "true"
database_engine                      = "aurora-mysql"
database_name                        = "database_name"
database_master_username             = "admin"
database_master_password             = "admin@password"
database_backup_retention_period     = "7"
deletion_protection                  = "false"
storage_encrypted                    = "true"
allow_major_version_upgrade          = "false"
copy_tags_to_snapshot                = "true"
database_instance_class              = "t3.medium"
publicly_accessible                  = "false"
# allocated_storage               = "10"
# database_cluster_engine_mode = "provisioned"


# #Cache Database (Redis)
redis_user_name                  = "redis"
redis_user_pwd                   = "idm3#YbhsFqa1P121KEC"
cachedb_engine                   = "redis"
cachedb_name                     = "redis-cache"
cachedb_description              = "Redis Database"
cachedb_port                     = "6379"
cachedb_node_type                = "cache.t3.small"
num_cache_nodes                  = "1"
cachedb_snapshot_retention_limit = "1"
version_upgrade                  = "false"


# Secret Manager
secretmanager_name = "secretmanager"


# # ALB (Application Load Balancer)

# Target Group
tg_name        = "default-tg"
tg_port        = "80"
tg_protocol    = "HTTP"
tg_target_type = "instance"

# Health Check
lb_tg_health_check_path     = "/"
lb_tg_health_check_port     = "80"
lb_tg_health_check_protocol = "HTTP"
lb_tg_health_check_matcher  = "200"

# Load Balancer
lb_name                = "alb-terraform-1"
lb_internal            = "false"
lb_type                = "application"
lb_deletion_protection = "false"

# Load Balancer Access Logs
alb_bucket_name = "alb-bucket"

# Load Balancer Listener
lb_listener_protocol = "HTTP"
lb_listener_port     = "80"


