# aws_access_key = ""
# aws_secret_key = ""
aws_access_key = ""
aws_secret_key = ""
aws_region = ""
project_name = ""
env_suffix = ""
instance_type = ""
key_pair_location = ""
private_bucket_name = ""
private_bucket_versioning = ""
